.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y:scroll;
    position: sticky;
    top: 50px;
    
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(179, 176, 176);
}

.sidebarWrapper{
    padding: 20px;
}

.sidebarList{
    padding: 0px;
    margin: 0px;
}

.sidebarListItem{
    display: flex;
    margin-bottom:15px ;
    align-items: center;
}

.sidebarIcon{
    margin-right: 15px;
}

.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr{
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 10px;
}

.sidebarListItemTextlink{
    text-decoration: none;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root{
    background-color: rgb(218, 218, 218) !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
max-width: none !important;
}